/* App.less Style Sheets */
/* Less Variables */
/* Main Tags */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700|Open+Sans:400,300,700);
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, "Open Sans", Sans;
  font-weight: normal;
}
.index {
  background: -webkit-linear-gradient(90deg, #000000 0%, #0ec5ff 100%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #000000 0%, #0ec5ff 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #000000 0%, #0ec5ff 100%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #000000 0%, #0ec5ff 100%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #000000 0%, #0ec5ff 100%);
  /* W3C */
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
.banner {
  width: 100%;
  margin-top: 50%;
  padding: 40px;
  height: auto;
  color: #ecf0f1;
}
.banner h2 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}
.audiotool {
  color: #0ec5ff;
}
.modal-content {
  background-color: #000;
  color: #ecf0f1;
  font-weight: 300;
}
.modal-content input {
  border-radius: 2px;
  background-color: #000;
  color: #ecf0f1;
}
.modal-content label {
  font-weight: 300;
}
.btn {
  margin-right: 10px;
  background: transparent;
  color: #ecf0f1;
  border-radius: 2px;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.btn.btn-login {
  border-color: #0ec5ff;
  color: #0ec5ff;
}
.btn.btn-login:hover,
.btn.btn-login:active {
  background-color: #0ec5ff;
  color: #ecf0f1;
}
.btn.btn-signup {
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn.btn-signup:hover,
.btn.btn-signup:active {
  background-color: #2ecc71;
  color: #ecf0f1;
}
.btn.btn-modal {
  width: 100%;
}
.close {
  color: #ecf0f1;
}
.home {
  background: #303030;
}
.navbar-inverse {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #000;
}
.navbar-inverse .navbar-nav li > a {
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.navbar-inverse .navbar-nav li > a:hover,
.navbar-inverse .navbar-nav li > a:active {
  background-color: #0ec5ff;
}
@media (max-width: 600px) {
  .navbar-inverse .navbar-nav .badge {
    float: right;
  }
}
.navbar-inverse .navbar-brand {
  font-weight: 300;
  letter-spacing: 2px;
  color: #ecf0f1;
}
.navbar-inverse .navbar-toggle {
  margin: 0;
  padding: 0px 14px;
  border-radius: 0px;
  font-size: 34px;
  border-color: transparent;
  border-left-color: #ecf0f1;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active {
  background-color: #0ec5ff;
}
.badge {
  margin-left: 4px;
  font-weight: 300;
}
.fa {
  color: white;
}
.welcome {
  margin-top: 50px;
  padding: 20px;
  background-color: #303030;
  color: #ecf0f1;
  border-bottom: 1px solid #000;
}
.welcome h2 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.welcome ul {
  padding: 0px;
  list-style-type: none;
}
.welcome ul li {
  padding: 5px 10px;
}
.welcome ul li a {
  color: #0ec5ff;
}
.welcome ul li a:hover,
.welcome ul li a:active {
  text-decoration: none;
}
.welcome ul li .fa {
  margin-right: 8px;
}
.action {
  width: 100%;
  padding: 18px 14px;
  border-bottom: 1px solid #7f8c8d;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  color: #ecf0f1;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
}
.action:hover,
.action:active {
  background-color: #0ec5ff;
  text-decoration: none;
}
.action .fa {
  float: right;
  padding-right: 8px;
}
.profile-header {
  background: url("../img/avatar.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
}
.next-page {
  text-align: center;
  background-color: #000;
  border-bottom: none;
}
